body {
  background: #ccc;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; }
  body a {
    color: #f0f;
    font-size: 24px;
    font-weight: 800; }

.site-body {
  background: #666;
  flex: 1;
  margin: 0 10%;
  text-align: center;
  width: 80%; }

nav {
  display: flex;
  flex-direction: row; }
  nav a {
    background: #eee;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: 1em; }

header {
  background: #111;
  color: #fff;
  padding: 2em 1em;
  text-align: center; }

footer {
  background: #111;
  color: #fff;
  padding: 2em 1em;
  text-align: center; }
