<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <% include ../partials/nav %>
    <div class="site-body">
      <p>here is some text</p>
      <p>here is some text</p>
      <p>here is some text</p>
    </div>
    <% include ../partials/footer %>
  </body>
  <script src="./dist/js/all.min.js"></sript>
</html>
</head>
