<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <% include ../partials/nav %>
    <h1>Stuff</h1>
    <% include ../partials/footer %>
  </body>
  <script src="./dist/js/all.min.js"></sript>
</html>
</head>
